<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .Title }} | KYMASOFT</title>
    <link rel="icon" href="{{ `favicon.ico` | relURL }}" sizes="any" />
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        color: #333;
        line-height: 1.6;
        margin: 20px;
      }

      .container {
        max-width: 800px;
        margin: auto;
        background: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h1,
      h2 {
        color: #444;
      }

      a {
        color: #1a73e8;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="container">{{ .Content }}</div>
  </body>
</html>
